.container{
  max-width:800px;
   margin-left:auto;
  margin-right:auto;
  position:relative;
  
  
}

header,blockquote{
  font-family: 'Abril Fatface', cursive;
}
img{
  width:1000px;
  height:
  
}
img{
  position:relative;
  
}
.kep{
    background: no-repeat url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png); 
  background-size: 1500px 500px;
  height: 500px;
  align-items:center;
  text-align:center;
  /*margin: 0px 40px;*/
  margin-left:250px;
  
  }

.headerr{
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-size: 40px;
  position: absolute;
  top: 300px;
  left: 400px;
   
}
.header{
  
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-size: 80px;
  position: absolute;
  top: 300px;
  left: 400px;
}
*/
h1{
  text-transform:uppercase;
 }

h3{
  font-family: 'Merriweather', serif;
  font-size:15px;
  font-weight:italic;
}
p,ul,h1,h2{
  font-family: 'Josefin Sans', sans-serif;
  color:#222;
  word-spacing:5px;*/
 
}

blockquote{
  display:flex;
  background:#444444;
  padding:0px 10px 10px 10px;
  margin-left:-50px;
  margin-top:30px;
  
  align-items:center;
   
  width:900px;
  
  color:white;
  font-size:50px;
}
blockquote:before{
  content: '“';
  font-family: 'Abril Fatface', cursive;
  color:white;
  font-size:100px;
  position:relative;
  top:-25px;
 
}

li{
  margin-bottom:10px;
}
.vonal{
  background:black;
  height:5px;
  margin-bottom:50px;
  margin-top:50px;
}
.container h1{
  font-size:23px;
  margin-bottom:50px;
  letter-spacing:2px;
}
.container h2{
  line-height:33px;
  margin-bottom:0px;
 
  
}
.container h3{
 margin-top:0px;
 
  
}
.container p{
  line-height:23px;
}
{
  background:red;
}